@page "/"

<PageTitle>Index</PageTitle>

<h1><i><b>EMPLEO</b></i></h1>
<div background-color: #E6E6FA; colour: black;><input type="text" placeholder="Search for a job"></div>
<br><br>
Trending Jobs:
@* <a href="https://www.w3schools.com/html/default.asp" target="_blank"><img src="C:\Users\yinki\Downloads\Amazon Logo.png" */ alt="Amazon "></a> *@