@page "/"

<PageTitle>EMPLEO</PageTitle>
<center>
<div><h1><i><b>EMPLEO</b></i></h1></div>
    <table>
        <tbody>
            <tr>
                <td><input type="text" placeholder="Job Name..."></td>
                <td><input type="text" placeholder="Job Type..."></td>
                <td><input type="text" placeholder="Location..."></td>
                <td><button class="btn btn-outline-dark">Search</button></td>
            </tr>
        </tbody>
    </table>
<div>Trending Jobs:</div>
    <table>
        <tbody>
            <tr>
                <td><div><img src="Amazon_Logo.jpg" width="150" height="150"></div></td>
                <td><div><img src="Apple_Logo.jpg" width="150" height="150"></div></td>
                <td><div><img src="Google_Logo.jpg" width="150" height="150"></div></td>
            </tr>
        </tbody>
    </table>
</center>

