@page "/"

<PageTitle>EMPLEO</PageTitle>
<head>
    <style>
        body{
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('../Images/ImageForLanding.jpg');
            background-size: cover;
            background-position: center;
            align-content: center;
        }
        .search-button{
            width: 100px;
            height: 50px;
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            background-color: purple;
            border-radius: 5px;
            position:absolute;
            top: 110px;
            text-align: center;
        }
        .text-colour{
            color: #fff 
        }
        .input{
            width:200px;
            height:30px;
        }
    </style>
</head>
<body>
    <center>
        <div class ="text-colour"><h1><i><b>EMPLEO</b></i></h1></div>
        <input class="input" type="text" placeholder="Job Name...">
        <input class="input" type="text" placeholder="Job Type...">
        <input class="input" type="text" placeholder="Location...">
        <button class="search-button">Search</button>
        <div class="text-colour">Trending Jobs:</div>
    </center>

    <div><img src="Amazon_Logo.jpg" width="150" height="150"></div>
    <div><img src="Apple_Logo.jpg" width="150" height="150"></div>
    <div><img src="Google_Logo.jpg" width="150" height="150"></div>
</body>


